html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

main {
    display: block;
}

ol,
ul {
    list-style: none;
}

b,
strong {
    font-weight: bold;
}

*,
:after,
:before {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    border-style: none;
}

img[width="0"][height="0"] {
    display: none;
}

a {
    color: inherit;
    cursor: pointer;
    background-color: transparent;
    text-decoration: none;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

a:hover,
a:focus {
    text-decoration: none;
}

input,
select,
textarea,
button {
    border: none;
    outline: none;
    border-radius: 0;
    -webkit-appearance: none;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

textarea {
    overflow: auto;
}

textarea::-webkit-scrollbar {
    width: 0;
}

::-ms-clear {
    display: none;
}

input {
    overflow: visible;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

select::-ms-expand {
    display: none;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: none;
}

textarea {
    width: 100%;
    resize: none;
    border: none;
    outline: none;
    border-radius: 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

label {
    margin: 0;
}

input,
button,
select {
    border: none;
    outline: none;
}

input {
    border-radius: 0;
}

*:focus {
    outline: none;
}

body .mobile-visible {
    display: none;
}

@media (max-width: 1000px) {
    body .mobile-visible {
        display: block;
    }

    body .desktop-visible {
        display: none;
    }
}

.no-scrolling {
    overflow: hidden;
}

.link {
    text-decoration: underline;
}

.link:hover {
    text-decoration: none;
}

.invert-link {
    text-decoration: none;
}

.invert-link:hover {
    text-decoration: underline;
}

html,
body {
    height: 100%;
}

body {
    min-width: 1420px;
    margin: 0;
    padding: 0 20px;
    color: #000;
    font: normal 14px/16px 'DINPro', sans-serif;
    -webkit-overflow-scrolling: touch;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    max-width: 243px;
    width: 100%;
    margin: 5% auto 60px;
}

.auth-form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 680px;
    width: 100%;
    height: 450px;
    background: #F5F5F5;
    border-radius: 5px;
}

.error {
    margin: 0 auto 20px;
    min-height: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #E35205;
}

form input {
    background: #fff !important;
}

.auth-form label {
    width: 70px;
    margin-right: 20px;
    font-weight: 500;
    text-align: right;
    color: #006FBA;
}

.auth-form input {
    max-width: 250px;
    width: 100%;
}

.auth-form .dx-texteditor {
    border: none !important;
    box-shadow: none !important;
    margin-bottom: 20px;
}

.auth-form .dx-texteditor-input.error-input {
    border: 1px solid #E35205;
}

.dx-button {
    height: 40px;
    transition: all .2s linear;
}

.dx-button.dx-button-default:hover {
    background: #006FBA;
}

.auth-form .dx-button-has-text .dx-button-content {
    padding: 8px 40px;
}

.dx-button-has-text .dx-button-content {
    padding: 8px 30px;
}

.dx-button-text {
    text-transform: none;
    letter-spacing: 0;
}

.auth-form .dx-button-text {
    font-size: 18px;
    line-height: 1;
}

.wrapper {
    max-width: 1420px;
    width: 100%;
    margin: auto;
}

.menu {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1420px;
    width: 100%;
    height: 50px;
    margin: 4% auto 50px;
}

.menu-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    height: 50px;
    background: #F5F5F5;
    border-radius: 5px;
    overflow: hidden;
}

.menu-button {
    position: relative;
    display: block;
    width: 55px;
    height: 50px;
    background: url(../img/i_home.png) center/35px no-repeat #F5F5F5;
    border-radius: 5px 0px 0px 5px;
    transition: all .2s linear;
}

.menu-button.active {
    background: url(../img/i_home-active.png) center/35px no-repeat #E35205;
}

.menu-button:hover {
    background: url(../img/i_home-active.png) center/35px no-repeat #009CDE;
}

.menu-link {
    min-height: 50px;
    padding: 12px 45px;
    background: #F5F5F5;
    border-radius: 5px;
    font-family: 'DINPro';
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #006FBA;
    transition: all .2s linear;
}

.menu-link:not(:last-child) {
    border-radius: 0;
}

.menu-link:last-child {
    border-radius: 0px 5px 5px 0px;
}

.menu-link:hover,
.menu-link.active {
    background: #009CDE;
    color: #fff;
}

.menu-logout {
    position: relative;
    display: block;
    width: 55px;
    height: 50px;
    background: url(../img/i_exit.png) center/35px no-repeat #009CDE;
    border-radius: 5px;
    transition: all .2s linear;
}

.menu-logout:hover {
    background: url(../img/i_exit.png) center/35px no-repeat #E35205;
}

.menu-tabs {
    display: flex;
    align-items: center;
    height: 50px;
    margin-bottom: 50px;
    border-radius: 5px;
    overflow: hidden;
}

.menu-tab {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 250px;
    width: 100%;
    height: 50px;
    background: #F5F5F5;
    border-radius: 5px;
    transition: all .2s linear;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #888B8D;
}

.menu-tab:first-child {
    border-radius: 5px 0px 0px 5px;
}

.menu-tab:last-child {
    border-radius: 0px 5px 5px 0px;
}

.menu-tab:hover,
.menu-tab.active {
    background: #D9D9D9;
}

.menu-reports {
    max-width: 500px;
    width: 100%;
}

.menu-reports-title {
    display: block;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #006FBA;
}

.menu-report-link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    background: #F5F5F5;
    border-radius: 5px;
    overflow: hidden;
    font-size: 18px;
    line-height: 22px;
    color: #888B8D;
}

.menu-report-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: #009CDE;
    transition: all .3s linear;
}

.menu-report-link:hover::after {
    width: 100%;
}

.header {
    margin-bottom: 40px;
}

.header .dx-button {
    height: 50px;
    background: #009CDE;
}

.header .dx-button:hover {
    background: #006FBA;
}

.header .dx-button-has-text .dx-button-content {
    font-size: 18px;
    line-height: 1;
    color: #fff;
}

.header .dx-button-has-text .dx-button-text {
    line-height: 1;
}

.custom-devexpress .dx-datagrid-rowsview .dx-master-detail-row:not(.dx-datagrid-edit-form) .dx-master-detail-cell {
    background: #fff;
}

.custom-devexpress .dx-datagrid .dx-column-lines > td {
    border-color: transparent;
}

.custom-devexpress .dx-datagrid-headers {
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
}

.custom-devexpress .dx-datagrid-headers + .dx-datagrid-rowsview, 
.custom-devexpress .dx-datagrid-rowsview.dx-datagrid-after-headers {
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}

.custom-devexpress .dx-dropdowneditor.dx-state-active .dx-dropdowneditor-icon, 
.custom-devexpress .dx-dropdowneditor.dx-state-hover:not(.dx-custom-button-hovered) .dx-dropdowneditor-icon,
.custom-devexpress .dx-dropdowneditor-button.dx-state-active .dx-dropdowneditor-icon, 
.custom-devexpress .dx-dropdowneditor.dx-dropdowneditor-active .dx-dropdowneditor-icon {
    background-color: transparent;
}

.custom-devexpress .dx-layout-manager .dx-label-h-align.dx-flex-layout .dx-field-item-label {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #888B8D;
}

.custom-devexpress .dx-texteditor {
    background-color: #F5F5F5;
    border: 1px solid #e0e0e0 !important;
    box-shadow: none !important;
}

.custom-select-wrapper .dx-texteditor {
    background: #fff;
    border-left: transparent;
    border-right: transparent;
    border-bottom: transparent;
    border-radius: 0;
}

.custom-devexpress .dx-texteditor-input {
    font-size: 14px;
}

.custom-devexpress .dx-datagrid-form-buttons-container .dx-button {
    position: relative;
    background: #009CDE;
    border-color: transparent;
    color: #fff;
}

.custom-devexpress .dx-datagrid-form-buttons-container .dx-button:hover {
    background: #006FBA;
}

.custom-devexpress .dx-datagrid-form-buttons-container .dx-button[aria-label="Отмена"] {
    background: #E35205;
}

.custom-devexpress .dx-datagrid-form-buttons-container .dx-button[aria-label="Отмена"]:hover {
    background: #009CDE;
}

.custom-select-table {
    display: flex;
    max-width: 1290px;
    width: 100%;
    margin-bottom: 30px;
    border: 1px solid #e0e0e0;
}

.custom-select-wrapper {
    display: flex;
    flex-direction: column;
}

.custom-select-wrapper-210 {
    min-width: 210px;
}

.custom-select-wrapper label {
    background: #F5F5F5;
    padding: 12px 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #888B8D;
}

.custom-devexpress .popupFix {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 100px 0;
    width: 100%;
    height: 100%;
    background: #fff;
    display: none;
    overflow: auto;
    z-index: 100;
    -webkit-overflow-scrolling: touch;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    width: 55px;
    height: 50px;
    background: url(../img/i_close.svg) center/20px no-repeat #E35205;
    border-radius: 5px;
    transition: all .2s linear;
    cursor: pointer;
}

.close:hover {
    background-color: #009CDE;
}

.popup-title {
    display: inline-block;
    min-height: 50px;
    margin-bottom: 50px;
    padding: 12px 45px;
    background: #F5F5F5;
    border-radius: 5px;
    font-family: 'DINPro';
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #009CDE;
}

.popupFix-container {
    position: relative;
    max-width: 1420px;
    width: 100%;
    margin: 0 auto;
}

.popupFix-wrapper {
    display: flex;
}

.popupFix-detail {
    max-width: 600px;
    width: 100%;
    margin-right: 200px;
}

.popupFix-detail .dx-datagrid-headers {
    display: none;
    color: #888B8D !important;
    border: none;
    margin-bottom: 20px;
}

.popupFix-detail .dx-datagrid-headers td {
    padding: 0 !important;
    background: none !important;
    outline: none !important;
}

.popupFix-detail .dx-datagrid-headers + .dx-datagrid-rowsview, 
.popupFix-detail .dx-datagrid-rowsview.dx-datagrid-after-headers {
    color: #888B8D !important;
    border: none;
}

.popupFix-detail .dx-datagrid-headers + .dx-datagrid-rowsview td, 
.popupFix-detail .dx-datagrid-rowsview.dx-datagrid-after-headers td {
    padding: 0 0 20px !important;
    background: none !important;
    outline: none !important;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #888B8D;
}

.popupFix-detail .dx-datagrid-headers + .dx-datagrid-rowsview tr:first-child td:not(.dx-validation-pending):not(.dx-datagrid-select-all), 
.popupFix-detail .dx-datagrid-rowsview.dx-datagrid-after-headers tr:first-child td:not(.dx-validation-pending):not(.dx-datagrid-select-all) {
    padding-bottom: 30px;
    font-size: 16px;
    line-height: 22px;
    text-align: left !important;
}

.popupFix-detail .dx-texteditor input,
.popupFix-docs-wrapper .dx-texteditor input {
    background: #F5F5F5 !important;
}

.dx-datebox-calendar .dx-dropdowneditor-icon::before {
    content: "\f026" !important;
}

.dx-calendar-navigator .dx-button {
    border: none;
}

.dx-button.dx-button-has-icon:not(.dx-button-has-text):not(.dx-shape-standard):not(.dx-datagrid-export-button) {
    border-radius: 4px 0 0 4px;
}

.dx-calendar-cell {
    box-shadow: none !important;
}

.popupFix-docs-wrapper {
    max-width: 480px;
    width: 100%;
}

.popupFix-docs-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #888B8D;
    margin-bottom: 30px;
}

.popupFix-docs-wrapper .dx-texteditor {
    width: 100% !important;
    margin-bottom: 50px;
}

#dropzone-external {
    width: 100%;
    height: 350px;
    background-color: #fff;
    border-width: 2px;
    border-style: dashed;
    border-radius: 5px;
    padding: 10px;
}

#dropzone-external > * {
    pointer-events: none;
}

#dropzone-external.dropzone-active {
    border-style: solid;
}

.widget-container > span {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 16px;
}

#dropzone-image {
    max-width: 100%;
    max-height: 100%;
}

#dropzone-text > span {
    font-weight: 100;
    opacity: 0.5;
}

#upload-progress {
    display: flex;
    margin-top: 10px;
}

.flex-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popupFix #buttonSendComment {
    height: 50px;
    background: #009CDE;
    color: #fff;
}

.popupFix #buttonSendComment:hover,
.popupFix #buttonSendComment.dx-state-focused {
    background: #006FBA;
}

.popupFix #buttonSendComment .dx-button-text {
    font-size: 18px;
}

.dx-button.dx-button-has-icon.dx-datagrid-export-button {
    -webkit-box-shadow: 0 1px 3px rgb(0 0 0 / 24%) !important;
    box-shadow: 0 1px 3px rgb(0 0 0 / 24%) !important;
}

.popupFix-photo-table {
    max-width: 1000px;
    width: 100%;
}

.custom-devexpress .popupComment {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background: rgba(136, 139, 141, 0.51);
    display: none;
    overflow: auto;
    z-index: 101;
    -webkit-overflow-scrolling: touch;
}

.popupComment-container {
    position: relative;
    max-width: 900px;
    width: 100%;
    margin: 50px auto;
    padding: 80px 100px 100px;
    background: #fff;
    border-radius: 5px;
}

.popupComment .close {
    top: 20px;
    right: 20px;
}

.popupComment-input-wrapper {
    max-width: 650px;
    width: 100%;
    margin: 0 auto 30px;
}

.popupComment .dx-texteditor input {
    background: #F5F5F5 !important;
}

.popupComment .dx-texteditor.dx-textarea {
    background-color: #fff !important;
    width: 100% !important;
}

.popupComment-title {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: #888B8D;
}

.popupComment .dx-button {
    position: relative;
    height: 50px;
    background: #009CDE;
    border-color: transparent;
    box-shadow: none;
}

.popupComment .dx-button:hover {
    background: #006FBA;
}

.popupComment .dx-button-has-text .dx-button-content {
    font-weight: 500;
    font-size: 16px;
    color: #fff;
}

.popupComment-history {
    max-width: 650px;
    width: 100%;
    margin: 0 auto;
}

.popupComment-history .dx-datagrid-headers {
    border-top: 1px solid #e0e0e0;
}

.dx-popup-normal {
    max-width: 360px;
    width: 100%;
}

.dx-popup-title.dx-toolbar {
    padding: 0 24px;
}

.dx-popup-normal .dx-popup-content.dx-dialog-content {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #888B8D;
}

.dx-popup-normal .dx-popup-content.dx-dialog-content i {
    font-style: normal;
}

.dx-popup-normal .dx-popup-bottom.dx-toolbar {
    padding-bottom: 50px;
}

.dx-popup-bottom.dx-toolbar {
    padding: 0 24px;
}

.dx-popup-bottom .dx-button {
    height: 42px;
    box-shadow: none;
}

.dx-popup-bottom .dx-button[aria-label="Да"] {
    margin-right: 40px;
    background: #E35205;
    color: #fff;
}

.dx-popup-bottom .dx-button[aria-label="Да"]:hover {
    background: #009CDE;
}

.dx-popup-bottom .dx-button[aria-label="Нет"] {
    background: #D9D9D9;
    color: #888B8D;
}

.dx-popup-bottom .dx-button[aria-label="Нет"]:hover {
    background: #F5F5F5;
}

.dx-popup-bottom .dx-button .dx-button-text {
    font-size: 18px;
}

.page-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #888B8D;
    margin-bottom: 30px;
}

.sales-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #000;
    margin-bottom: 30px;
}

.dx-popup-wrapper > .dx-overlay-content {
    max-height: 100vh;
    overflow: auto;
}

.selection-table .dx-data-row:hover:not(.dx-selection):not(.dx-row-inserted):not(.dx-row-removed):not(.dx-edit-row) {  
    background-color: rgb(0 156 222 / 10%) !important; 
    cursor: pointer;  
}

.popupFix .dx-texteditor-with-floating-label .dx-texteditor-label .dx-label-before, 
.popupFix .dx-texteditor-with-label .dx-texteditor-label .dx-label-before,
.popupFix .dx-texteditor-with-floating-label .dx-texteditor-label .dx-label, 
.popupFix .dx-texteditor-with-label .dx-texteditor-label .dx-label,
.popupFix .dx-texteditor-with-floating-label .dx-texteditor-label .dx-label-after, 
.popupFix .dx-texteditor-with-label .dx-texteditor-label .dx-label-after {
    padding: 0 !important;
    box-shadow: none !important;
    border-color: transparent !important;
}

.popupFix .dx-texteditor-with-floating-label .dx-texteditor-label .dx-label span, 
.popupFix .dx-texteditor-with-label .dx-texteditor-label .dx-label span {
    color: rgba(148,148,148,.87) !important;
}

.custom-devexpress .dx-row.dx-edit-row.dx-datagrid-edit-form .dx-form.dx-widget.dx-visibility-change-handler {
    max-width: 1380px;
}

.custom-devexpress .dx-row.dx-edit-row.dx-datagrid-edit-form .dx-datagrid-form-buttons-container {
    display: flex;
    justify-content: flex-end;
    max-width: 1380px;
    float: none;
}

.custom-devexpress .dx-toolbar-button.dx-toolbar-text-auto-hide .dx-button .dx-button-content,
.custom-devexpress .dx-button-has-icon .dx-button-content {
    padding: 7px;
}

.dx-toolbar-button .dx-button .dx-icon.dx-icon-edit-button-addrow {
    background: url(../img/i_plus.svg) center/18px no-repeat;
    image-rendering: optimizequality;
    image-rendering: -webkit-optimize-contrast;
}

.dx-datagrid-addrow-button .dx-icon-edit-button-addrow::before {
    display: none;
}

.custom-devexpress .dx-toolbar .dx-button .dx-icon.dx-icon-xlsxfile {
    background: url(../img/i_excel.svg) center/24px no-repeat;
    image-rendering: optimizequality;
    image-rendering: -webkit-optimize-contrast;
}

.dx-icon-xlsxfile::before {
    display: none;
}

.dx-toolbar-button .dx-button .dx-icon.dx-icon-column-chooser {
    background: url(../img/i_column.svg) center/27px no-repeat;
    image-rendering: optimizequality;
    image-rendering: -webkit-optimize-contrast;
}

.dx-icon-column-chooser::before {
    display: none;
}

.dx-loadpanel-content {
    width: 90px;
    height: 90px;
    border-radius: 5px;
    background: #009CDE;
}

.dx-loadindicator {
    position: relative;
    width: 60px;
    height: 60px;
}

.dx-loadindicator-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 20px;
    height: 25px;
    background: url(../img/libra-mini.svg) center/contain no-repeat;
}

.dx-loadindicator-icon {
    background: url(../img/preloader.svg) center/contain no-repeat;
}

.dx-loadindicator-icon .dx-loadindicator-segment {
    display: none;
}

@media (max-width: 1420px) {
    .adaptive {
        min-width: auto;
    }
}

@media (max-width: 1000px) {
    .custom-devexpress .popupFix {
        padding: 20px 10px;
    }

    .popupFix-wrapper {
        flex-direction: column;
        margin-bottom: 50px;
    }

    .popupFix-detail {
        margin-right: 0;
        margin-bottom: 50px;
    }

    .popupComment-container {
        max-width: 100%;
        margin: auto;
        padding: 80px 10px;
    }
}